.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "Karla", sans-serif;
} 

.bar {
  fill: steelblue;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.citation {
  font-size: 8px;
  font-family: "Karla", sans-serif;
}
